@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Here are some Helpful Links for Joel</h1>
    <a asp-controller="Home" asp-action="Joel"><h2>Get to Know Joel</h2></a>
    <img src="/lib/2.jpg" />
    <a asp-controller="Home" asp-action="MovieList"><h3>See List here</h3></a>
 
  
</div>

